.questions
  .question{ 'ng-repeat' => 'question in survey.questions | orderBy:"order"' }
    %h3 Question {{question.order + 1}}

    .hidden= text_field_tag 'survey[questions][][id]', '', 'ng-model' => 'question.id'
    .hidden= text_field_tag 'survey[questions][][order]', '', 'ng-model' => 'question.order'
    .field= text_field_tag 'survey[questions][][kind]', '', 'ng-model' => 'question.kind'
    .field= text_area_tag 'survey[questions][][text]', '', 'ng-model' => 'question.text'

    = render 'answers'

  .actions
    .add{ 'ng-click' => 'addQuestion(survey.questions)' } +
    .remove{ 'ng-click' => 'removeQuestion(survey.questions)' } -
