= link_to 'Add survey', new_admin_survey_path

.surveys
- surveys.each do |survey|
  .survey
    %h2= link_to survey.title, admin_survey_path(survey)
    %p.description= survey.description
    .actions
      = link_to 'Show', admin_survey_path(survey)
      = link_to 'Edit', edit_admin_survey_path(survey)
      = active_tag(survey)
      = destroy_tag(survey)
