.survey{ 'ng-controller' => 'SurveysController' }
  %h2 New survey

  = form_tag admin_surveys_path, method: :post do |f|
    .field= text_field_tag 'survey[title]', '', 'ng-model' => 'survey.title'
    .field= text_area_tag 'survey[description]', '', 'ng-model' => 'survey.description'

    = render 'questions'

    .actions= submit_tag 'Save'
