.survey{ 'ng-app' => 'ujSurvey', 'ng-controller' => 'SurveysController' }
  %h2 New survey

  = form_tag admin_surveys_path, method: :post do
    .field= text_field_tag 'survey[title]', '', 'ng-model' => 'survey.title'
    .field= text_area_tag 'survey[description]', '', 'ng-model' => 'survey.description'

    .questions
      .question{ 'ng-repeat' => 'question in survey.questions | orderBy:"order"' }
        %h3 Question {{question.order + 1}}

        .hidden= text_field_tag 'survey[questions][][id]', '', 'ng-model' => 'question.id'
        .hidden= text_field_tag 'survey[questions][][order]', '', 'ng-model' => 'question.order'
        .field= select_tag 'survey[questions][][kind]', options_from_collection_for_select(Question.kind_options, :first, :last), 'ng-model' => 'question.kind'
        .field= text_area_tag 'survey[questions][][text]', '', 'ng-model' => 'question.text'

        .answers
          .answer{ 'ng-repeat' => 'answer in question.answers | orderBy:"order"' }
            %h4 Answer {{answer.order + 1}}

            .hidden= text_field_tag 'survey[questions][][answers][][id]', '', 'ng-model' => 'answer.id'
            .hidden= text_field_tag 'survey[questions][][answers][][order]', '', 'ng-model' => 'answer.order'
            .field= text_area_tag 'survey[questions][][answers][][text]', '', 'ng-model' => 'answer.text'

            .actions
              .add{ 'ng-click' => 'addAnswer(question.answers)' } +
              .remove{ 'ng-click' => 'removeAnswer(question.answers)' } -

      .actions
        .add{ 'ng-click' => 'addQuestion(survey.questions)' } +
        .remove{ 'ng-click' => 'removeQuestion(survey.questions)' } -

    .actions= submit_tag 'Save'
